body{
	text-align: center;
}

#player, #battle{
	background: #ddd;
	height: 420px;
	display: inline-block;
}

#player{
	width: 100%;
	transition: 0.4s width;
	-text-align: center;
	display: inline-block;
}

#battle{
	width: 300px;
	display: none;
}

#vs{
	width: 200px;
	height: 30px;
	display: none;
	transition: 0.3s linear height;
	overflow: hidden;
}

#opponents{
	position: relative;
}

#opponentMask{
	position: absolute;
	top: 0;
	width: 100%;
	background: white;
	height: 100%;
	opacity: 0.1;
}

.option{
	display: inline-block;
	background: white;
	height: 350px;
	width: 200px;
	margin: 10px 20px;
	text-align: center;
	position: relative;
	left: 0px;
	right: 0px;
	top: 0px;
	transition: 0.2s linear all;
	cursor: pointer;
}

#battle .option{
	opacity: 0;
	top: 100px;
	cursor: auto;
}

.option h3{
	
}

.portrait{
	background-size: cover;
	background-position: center top;
	height: 200px;
}

.hp-holder{
	border: 1px solid black;
	height: 14px;
	padding: 2px 0;
}

.hp{
	height: 10px;
	background: #aaffaa;
	width: 100%;
	transition: 0.5s linear width;
}

