@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');

body{
	text-align: center;
	background: url("../images/19098.jpg") no-repeat fixed center;
	background-size: cover;
	min-width: 800px;
	font-family: 'Saira Semi Condensed', sans-serif;
}

h1{
	color: white;
}

#notification p{
	font-size: 20px;
	color: white;
}

#player, #battle, #vs{
	display: inline-block;
}

#battle{
	width: 0px;
	transition: 0.3s linear width;
}

#vs{
	width: 0px;
	height: 30px;
	transition: 0.3s linear all;
	overflow: hidden;
}

#opponents{
	position: relative;
}

#opponentMask{
	position: absolute;
	top: 0;
	width: 100%;
	background: url("../images/19098.jpg") no-repeat fixed center;
	background-size: cover;
	height: 100%;
	opacity: 0.5;
}

.option{
	display: inline-block;
	background: white;
	width: 200px;
	margin: 10px 20px;
	text-align: center;
	position: relative;
	left: 0px;
	right: 0px;
	top: 0px;
	transition: 0.2s linear all;
	cursor: pointer;
	padding: 15px 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 8px #666666;
}

#battle .option{
	opacity: 0;
	top: 100px;
	cursor: auto;
}

.option h3{
	margin: 0;
	font-size: 24px;
}

.portrait{
	background-size: cover;
	background-position: center top;
	height: 200px;
	margin: 10px 0;
}

.hp-holder{
	border: 1px solid black;
	height: 10px;
	padding: 2px 2px;
}

.hp{
	height: 10px;
	background: #000000;
	width: 100%;
	transition: 0.5s linear width;
}

#player .hp{
	background: #00e2a5;
}

#battle .hp{
	background: #ff0000;
}

